.App {
  text-align: center;
}

.card{
  width:100%;
  height:100%;
  background-color:grey;
  justify-content: right;
  border-radius: 10px;
  margin:5px
}
.image{
width: 40px;
height:40px;
margin-top: 20px;
}